@tailwind base;
@tailwind components;
@tailwind utilities; 


@layer base {
  body {
    font-family: 'Graphik', sans-serif;
    font-size: 16px;
  }
  main {
    overflow: hidden;
  }
  p, li {
    @apply md:leading-9 leading-7 md:text-base text-sm;
  }
  h1.large-version {
    @apply lg:text-6xl md:text-5xl text-3xl font-bold;
  }
  h1 {
    @apply lg:text-4xl md:text-3xl text-2xl font-bold;
  }
  h2 {
    @apply lg:text-4xl md:text-3xl text-2xl font-semibold; 
  }
  h3 {
    @apply lg:text-3xl text-2xl font-semibold; 
  }
}